In [2]:
# For example, if we need to calculate the square of each number in a list, we can use map()

def f(x):
    return x * x

r = map(f, [1,2,3,4,5])

print(list(r))

[1, 4, 9, 16, 25]

In [3]:
r = map(lambda x : x*x, [1,2,3,4,5])
print(list(r))

[1, 4, 9, 16, 25]

In [6]:
# Use the map() function to change the non-standard English name to the canonical names
names = ['ELon', 'MUSk', 'thoMas', 'LISA']
names = map(str.capitalize, names)

print(list(names))

['Elon', 'Musk', 'Thomas', 'Lisa']